/* CONTAINER */
.container {
    width: 100% !important;
}

@media (min-width: 375px)
{
    .container {
        width: 90% !important;
    }
}

@media (min-width: 1440px)
{
    .container {
        width: 70% !important;
    }
}

@media (min-width: 1440px)
{
    .container {
        width: 70% !important;
    }
}

@media (min-width: 1600px)
{
    .container {
        width: 60% !important;
        max-width: 1536px;
        margin-left: auto;
        margin-right: auto; 
    }
}

@media (max-width: 1000px)
{
    .sidenav {
        display: none;
    }
    .main-content {
        padding: 20px 10px !important;
    }
}

/* MAIN CONTENT */
.main-content {
    box-sizing: border-box;
}

/* BACK TO TOP Btn*/
.btt {
    color: #fff;
    position: fixed;
    padding: 10px 12px;
    bottom: 10%;
    right: 10%;
    border-radius: 80px;
    background: #0000FF;
    border: 0;
}

@media (max-width: 1000px)
{
    .btt {
        right: 0%;
        padding: 8px 10px;
    }
}

@media (max-width: 426px)
{
    .btt {
        display: none !important;
    }
}

/* Nav button */
nav .action-btn {
    border-radius: 4px;
}
nav .action-btn:hover {
    background: #0096FF !important;
    border: 1px solid #0096FF;
    color: white;
}
.nav-right-icon {
    /* box-sizing: content-box; */
    padding-top: 5px;
}
a:hover {
    color: #0096FF !important;
}
.main-category {
    color: #9e9e9e;
    font-size: 17px;
}

.demo {
    background: #eeeeee;
    border-radius: 4px;
    box-sizing: border-box;
}

/* HTML snippet*/
.tag {
    color:#e99c68;
}
.class {
    color: #b78ac4;
}
.bracket {
    color: #003cff;
}
.style-rule {
    color: #9f5e08;
}
.class-name {
    color: #6096d3;
}
.drk {
    color: #9f5e08;
}
.gry {
    color: #9e9e9e;
}
.border-black {
    border-color: black !important;
}

/* Height Styling */
.height-demo {
    background: #fff;
    height: 400px;
    
    justify-content: space-between;
}
.height-demo-child {
    width: 8%;
    border-radius: 4px;
    margin-top: auto;
}
.height-pixels {
    column-gap: 20px;
}
.hp {
    margin-top: auto;
}
.bp-row {
    justify-content: space-between;
    flex-wrap: wrap;
}

.bp-row .demo {
    margin-bottom: 20px;
}

@media (max-width: 1000px)
{
    .hp {
        width: 18% !important;
    }
    .bp-row .demo {
        width: 48%;
    }
}


/* COLOR */

.color-row {
    flex-wrap: wrap;
}

.color-row .demo {
    width: 148px;
    margin-bottom: 20px;
}

@media (min-width: 1024px) {
    .color-row .demo {
        width: 22.8%;
    }
}

@media (min-width: 1280px) {
    .color-row .demo {
        width: 23.1%;
    }
}

/* FORM */
.form-container .flex{
    width: 30%;
}

form input {}