/* CONTAINER */
@media (min-width: 1440px)
{
    .container {
        width: 70% !important;
    }
}

@media (min-width: 1600px)
{
    .container {
        width: 60% !important;
        max-width: 1536px;
        margin-left: auto;
        margin-right: auto; 
    }
}


/* Nav button */
nav .action-btn {
    border-radius: 4px;
}
nav .action-btn:hover {
    background: #0096FF !important;
    border: 1px solid #0096FF;
    color: white;
}
.nav-right-icon {
    /* box-sizing: content-box; */
    padding-top: 5px;
}
a:hover {
    color: #0096FF !important;
}
.main-category {
    color: #9e9e9e;
    font-size: 17px;
}

.demo {
    background: #eeeeee;
    border-radius: 4px;
    box-sizing: border-box;
}

/* HTML snippet*/
.tag {
    color:#e99c68;
}
.class {
    color: #b78ac4;
}
.class-name {
    color: #6096d3;
}

.border-black {
    border-color: black !important;
}

/* Height Styling */
.height-demo {
    height: 400px;
    justify-content: space-between;
}
.height-demo-child {
    width: 8%;
    border-radius: 4px;
    margin-top: auto;
}
.height-pixels {
    /* height: 100px; */
    column-gap: 40px;
}
.hp {
    margin-top: auto;
}